html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	font: inherit;
	font-size: 100%;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
}

html{
	background-color: #0b3d91;
}

.searchSection input {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -110px;
	padding: 7px;
	border: 2px solid #fc3d21;
 	border-radius: 4px;
 	animation-name: flyDown;
 	animation-duration: .5s;
 	transition: transform .5s ease-in-out;
}

@keyframes flyDown {
	0% {transform:translateY(-200px);}
    100% {transform:translateY(0px);}
}

.searchSection img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	animation-name: grow;
 	animation-duration: 1s;
 	transition: transform .5s ease-in-out;
}

@keyframes grow {
	0% {transform:scale(.1,.1);}
    100% {transform:scale(1,1);}
}

#results {
	display: none;
	position: relative;
	top: -35px;
	margin: 0px;
	padding: 10px 0 0;
}

.res {
	display: block;
	background-color: #cccccc;
	padding: 10px;
	box-shadow: inset 0 3px 0 #fff;
}

.caution {
	color: #660000;
	text-align: right;
	padding-right: 5px;
	background:linear-gradient(90deg,#0b3d91,#fc3d21);
	animation-name: fadeIn;
 	animation-duration: 2s;
 	transition: transform .5s ease-in-out;
}

@keyframes fadeIn {
	0% {opacity:0;}
    100% {opacity: 1;}
}

.add {
	float: right;
	animation-name: fadeIn;
 	animation-duration: 2s;
 	transition: transform .5s ease-in-out;
}

#addAcronym, #addDefinition {
	display: none;
}