html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
}

html{
	background-color: black;
}

h1 {
	font-size: 70px;
	color: #00ff99;
	font-weight:bold;
	text-align:center;
	text-shadow: 1px 1px 2px #000;
	animation-name: flyUp;
    animation-duration: 1s;
	transition: transform .5s ease-in-out;
}

h1:hover{
	transform: rotate3d(0,1,0,180deg);
}

canvas {
	padding: 0;
    border: 2px solid #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

@keyframes flyUp{
    0% {transform:translateY(300px);}
    100% {transform:translateY(0px);}
}

h2 {
	font-size:30px;
	color:#005555;
	text-align:center;
	font-weight:200;
	max-width: 700px;
	margin:0 auto;
}

h3 {
	text-align:center;
	font-size:25px;
	font-weight:bold;
	border-bottom: 2px solid #000000;
	padding-top: 10px;
}

button{
	background-color: #00ff99;
    border: 2px solid #000000;
    border-radius: 4px;
    margin: 2px 13px 2px 13px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all .2s;
}

.gameButtons button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#dive2Button {
	font-size: 13px;
}

.artNav button{
	margin: 2px 5px 2px 5px;
}

.artNav p{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	color: #888888;
	font-size: 20px;
}

button:hover{
	color: white;
	border: 2px solid white;
}

.artNav {
	text-align: center;
	background-image: url(artSupport/cables.jpg);
	background-repeat: repeat;
	border: 5px solid black;
}	

#resumeNav{
	text-align: center;
	background-image: url(resumeSupport/rivets.jpg);
	background-repeat: repeat;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .afterResumeNav {
  padding-top: 65px;
}

.title {
	background:linear-gradient(#555555,#333333);
}

.heading{
	background:linear-gradient(#ccffcc,#eeffee);
	padding:10px 0 10px 0;
}

ul {
	text-align:center;
}

.navigation {
	padding:5px 0 5px 0;
	background-color: #555555;
}

.newContent {
	background-color: #888888;
}

.navigation li{
	text-decoration-style: none;
	display:inline;
	padding: 0 10px 0 10px;
	border-right: 1px solid #bbbbbb;
}

.navigation li:last-child{
	border-right: none;
}

.home{
	background-color:#555555;
	background-image: url(frontPageSupport/brickGrey.jpg);
	background-repeat: repeat-x,y;
	padding: 25px 0 25px 0;
}

.cables{
	background-image: url(frontPageSupport/cableblue.jpg);
	background-repeat: repeat-x;
}

img{
	display: block;
	box-sizing: border-box;
	max-width:70%;
	height:auto;
	margin: 10px auto 10px auto;
	border:2px solid #000000;
}

#marsAttacksImg {
	display: none;
}

#gremlinImg {
	display: none;
}

#abductionImg {
	display: none;
}

#scubaImg {
	display: none;
}

#dive2Img {
	display: none;
}

#triggerImg {
	display: none;
}

.homeContainer{
	position: relative;
    text-align: center;
}

.home img{
	box-shadow: 1px 1px 10px #000;
	transition: filter .5s ease-in-out;
}

#sixScreens{
	animation-name: spin;
    animation-duration: 1s;
}

.home img:hover{
	filter: saturate(150%);
}

.home h3{
	position: absolute;
    top: 30%;
    left: 39%;
    transform: translate(-50%, -50%);
	border:none;
	max-width: 160px;
}

@keyframes spin{
	0% {transform:rotate(45deg);}
    70% {transform:rotate(0deg);}
    70% {transform:translateY(0px);}
    85% {transform:translateY(-10px);}
    100% {transform:translateY(0px);}
}

#walleTalk{
	display: none;
}

#walleCatch{
	display: none;
}

#tennisBall{
	display: none;
	position: absolute;
    bottom: 3%;
    left: 28%;
    transform: translate(-50%, -50%);
	border-radius: 50%;
	border: none;
	box-shadow: 1px 1px 10px #000;
}

#tennisBall:hover{
	animation-name: throwBall;
    animation-duration: 1s;
}

@keyframes throwBall{
	0% {transform:translate(-50%, -50%) scale(1, 1);}
    100% {transform:translate(300px, -200px) scale(.1, .1);}
}

.footer{
	background: linear-gradient(to left, #555555, #000000);
	color: #bbbbbb;
	text-align: right;
	padding: 10px 5px 5px 5px;
}

.footer p,.footer a{
	margin-right: 20px;
}

.navigation a{
	text-decoration: none;
	font-size:20px;
	color:#ffffff;
	font-weight:bold;
}

.navigation a:hover{
	color:#ff0000;
	text-decoration: underline;
}

.footer a{
	color:#00ffff;
	text-decoration: none;
	font-weight: bold;
}

.footer a:hover{
	color:#ff0000;
	text-decoration: underline;
}

.solitude {
	text-align: center;
	background-color:#000000;
}

.solitude h4{
	font-size: 30px;
	color:#00ffff;
	max-width:700px;
	border-bottom: 2px solid #00ffff; 
	margin:0 auto 20px auto;
	padding-top:10px;
}

.solitude p{
	color:#ffffff;
	padding-bottom: 20px;
}

.solitude img{
	transition: opacity 3s ease-in-out;
}

.solitude img:hover{
	opacity: 0;
}

.haiku{
	text-align: center;
	background: linear-gradient(to bottom, #999900, #009999);
}

.haiku h4{
	font-size: 30px;
	color:#990099;
	max-width:700px;
	border-bottom: 2px solid #990099; 
	margin:0 auto 20px auto;
	padding-top:10px;
}

.haiku p{
	color:#000000;
	padding-bottom: 20px;
}

.read {
	background-color: #ffffff;
	text-align:center;
}

.read h4{
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px solid #000000;
	padding-top: 10px;
	max-width:900px;
	margin:0 auto 0 auto;
	transition: color 1s ease-in-out;
}

.read h4:hover{
	color: #ff0000;
}

.read img{
	border:none;
}

.intro {
	background-color:#555555;
	background-image: url(resumeSupport/weave.jpg);
	background-repeat: repeat;
	padding: 25px 0 25px 0;
	text-align: center;
}

.intro h2{
	color: #000000;
	text-shadow: 1px 1px 1px #00ff99;
	font-size: 50px;
	font-weight: bold;
}

.intro p{
	font-size: 25px;
	text-shadow: 2px 2px 1px #999999;
	font-weight: bold;
}

.intro img{
	border-radius: 50%;
	box-shadow: 1px 1px 10px #000;
	transition: transform 1s ease-in-out;
	display: inline-block;
}

@keyframes rollRight{
	0% {transform:translateX(-200px) rotate(-90deg);}
    100% {transform:translateX(0px) rotate(0deg);}
}

@keyframes rollLeft{
	0% {transform:translateX(200px) rotate(90deg);}
    100% {transform:translateX(0px) rotate(0deg);}
}

#f16Img {
	display: none;
	animation-name: rollRight;
    animation-duration: 1s;
}

#f9Img {
	display: none;
	animation-name: rollLeft;
    animation-duration: 1s;
}

#slsImg {
	display: none;
	animation-name: rollLeft;
    animation-duration: 1s;
}

#f16Span, #f9Span, .intro a {
	font-size: 30px;
	color: #0000bb;
	text-decoration: none;
	font-weight: bold;
}

#f16Span:hover, #f9Span:hover, .intro a:hover {
	font-size: 30px;
	color: #ff0000;
	text-decoration: underline;
}

.intro img:hover{
	transform: scale(1.1, 1.1);
}

.workHistory{
	display:none;
	background-color: #888888;
}

.schoolHistory{
	display: none;
	background-color: #aaaaaa;
}

.postSection {
	overflow: hidden;
	border: none;
}

.postLogo img{
	border:none;
}

.postContainer {
	border: 1px dotted black;
	margin: 10px auto 10px auto;
	max-width: 70%;
	padding: 10px;
	overflow: auto;
}

#postSubPic {
	float: left;
	margin-right: 10px;
}

.postContainer h3{
	border:none;
	text-align: left;
}

.postContainer h4{
	font-size: 20px;
	font-style: italic;
}

#linkedIn{
	clear:both;
	background-color: #888888;
}